@charset "UTF-8";
.button {
  background-color: #ff3e79;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ff3e79;
  text-align: center;
  text-decoration: none;
  margin: 24px 8px;
  transition: transform 0.2s; }
  .button:hover {
    transform: scale(1.2); }

.menu-button::before {
  content: url(./static/menu.svg);
  padding-top: 5px; }

.call-button::before {
  content: url(./static/call.svg);
  padding-top: 5px; }

.message-button::before {
  content: url(./static/message.svg);
  padding-top: 5px; }

.profile-button::before {
  content: url(./static/profile.svg);
  padding-top: 5px; }

.application-button::before {
  content: url(./static/application.svg);
  padding-top: 5px; }

.status-button::before {
  content: url(./static/status.svg);
  padding-top: 5px; }

.brand--button {
  position: relative;
  background-color: transparent;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  cursor: pointer; }
  .brand--button:hover {
    transform: scale(1.2); }
  .brand--button::before {
    content: url(./static/dropdown.svg);
    padding-left: 2px; }

.exit-button::before {
  content: url(./static/exit.svg);
  padding-top: 5px; }

.search-button::before {
  content: url(./static/search.svg);
  padding-top: 5px; }

.read-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  transition: transform 0.2s; }
  .read-more:hover {
    transform: scale(1.1); }

.read-more-text {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }

.hidden-button {
  display: none; }

@media (min-width: 1120px) and (max-width: 1440px) {
  .hidden-button {
    scale: 1.2;
    display: block;
    position: fixed;
    left: 20px;
    bottom: 50px;
    z-index: 2; } }

/* Подключение шрифтов из папки fonts*/
@font-face {
  font-family: TTLakes-Medium;
  src: url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-display: block; }

@font-face {
  font-family: TTLakes-Bold;
  src: url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-display: block; }

@font-face {
  font-family: TTLakes-Regular;
  src: url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-display: block; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'TTLakes-Medium', sans-serif;
  color: #7e7e82;
  padding: 32px 24px 24px 24px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.72;
  box-shadow: 0 -1px #d9fff5; }

@media (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center; } }

@media (min-width: 1120px) {
  .footer {
    padding: 32px; } }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'TTLakes-Medium';
  font-weight: 500;
  background-color: #f8f8f8; }

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  height: 88px;
  box-shadow: 0 1px #d9fff5; }

.separation-left::before {
  content: '';
  position: absolute;
  height: 32px;
  border: 1px solid #eaeaea;
  top: 30px;
  right: 132px; }

.left-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 8px; }

.right-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 8px; }

.right-side__left-buttons {
  display: none;
  padding-right: 26px; }

.logo {
  vertical-align: middle; }

.right-side__right-buttons {
  display: flex;
  text-align: center;
  align-items: center; }

@media (min-width: 768px) {
  .header {
    padding: 0 16px; }
  .separation-left::before {
    right: 144px; } }

@media (max-width: 319px) {
  .separation-left::before {
    display: none; } }

.main {
  padding: 24px 0; }

.noscroll {
  overflow: hidden; }

.left-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 8px; }

.right-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 8px; }

.right-side__left-buttons {
  display: none;
  padding-right: 26px; }

.logo {
  vertical-align: middle; }

.right-side__right-buttons {
  display: flex;
  text-align: center;
  align-items: center; }

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 24px;
  margin-left: 16px; }

.title__text {
  font-size: 28px;
  font-family: 'TTLakes-Bold';
  line-height: 40px;
  letter-spacing: 0.6px; }
  .title__text::before {
    content: '';
    position: absolute;
    left: -17px;
    border: 4px solid #41f6d7;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }

.title__buttons {
  display: none; }

.nav {
  display: block;
  margin-bottom: 24px; }

.nav__list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: scroll;
  list-style-type: none;
  margin: 8px 0px;
  padding-left: 16px;
  padding-right: 20px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .nav__list::-webkit-scrollbar {
    display: none; }
  .nav__list::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 44px;
    background-image: linear-gradient(to right, transparent, #f8f8f8);
    right: 0; }

.nav__button {
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  align-content: center;
  border: 2px solid rgba(0, 0, 0, 0); }
  .nav__button:hover {
    border: 2px solid #e4e4e4;
    border-radius: 5px; }

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute; }

label {
  display: block;
  cursor: pointer; }

#devices:checked ~ .nav__list li label[for='devices'],
#brands:checked ~ .nav__list li label[for='brands'],
#prices:checked ~ .nav__list li label[for='prices'],
#addresses:checked ~ .nav__list li label[for='addresses'],
#special:checked ~ .nav__list li label[for='special'],
#feedback:checked ~ .nav__list li label[for='feedback'] {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  outline: none; }

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.info-box__about-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  padding: 0 16px; }

.info-box__content {
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21; }

.info-box__tablet-content {
  display: none; }

.info-box__desktop-content {
  display: none; }

.info-box__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
  margin-left: 28px; }
  .info-box__btn:hover {
    transform: scale(1.1); }

.info-box__btn-text {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding: 0 6px; }
  .info-box__btn-text::before {
    content: url(./static/icon-readmore.svg);
    position: absolute;
    text-align: center;
    width: 7.41px;
    height: 10.29px;
    left: -16px; }

.alltext .info-box__btn-text::before {
  transform: rotate(180deg) translateY(-12px);
  transition: 0.5s; }

.info-box__about-image {
  display: flex;
  justify-content: center; }
  .info-box__about-image img {
    width: 100%; }

.offer-box {
  padding: 16px; }

.copy-right {
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21; }

.offer-txt {
  display: flex;
  font-size: smaller;
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  transition: 0.2s; }
  .offer-txt:hover {
    transform: scale(1.1); }
  .offer-txt::after {
    position: relative;
    content: url(./static/Line.svg);
    padding-left: 10px;
    vertical-align: bottom;
    bottom: -1.5px; }

/* Медиа запрос для разрешения больше 768px */
@media (min-width: 768px) {
  .main {
    padding-bottom: 32px; }
  .left-side {
    padding: 0; }
  .right-side__left-buttons {
    display: flex; }
  .separation-right::before {
    content: '';
    position: absolute;
    height: 32px;
    border: 1px solid #eaeaea;
    top: 30px;
    left: 77px; }
  .logo {
    padding-left: 32px; }
  .title {
    margin-left: 24px; }
  .title__text::before {
    left: -25px; }
  .nav__list {
    padding-left: 24px;
    padding-right: 30px; }
  .info-box {
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between; }
  .info-box__about-item {
    padding: 0;
    margin: 0;
    width: 50%; }
  .info-box__content {
    font-size: 14px;
    line-height: 20px; }
  .info-box__tablet-content {
    display: inline; }
  .info-box__btn {
    padding-top: 20px; }
  .info-box__about-image {
    width: 48%; }
  .image {
    border-radius: 2%;
    height: 260px; }
  .offer-box {
    width: 500px;
    padding: 24px 24px 47px 24px; } }

/* Медиа запрос для разрешения больше 1120px */
@media (min-width: 1120px) {
  /* Убираем шапку */
  .header {
    display: none; }
  .main {
    padding: 18px 32px 32px 32px;
    display: block; }
  .title {
    justify-content: space-between;
    margin-left: 0; }
  .title__text::before {
    left: -33px; }
  .title__buttons {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center; }
  .application {
    display: flex;
    align-items: center;
    padding-right: 32px; }
  .status {
    display: flex;
    align-items: center; }
  .nav {
    margin-bottom: 32px; }
  .nav__list {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
  .info-box {
    padding: 0; }
  .image {
    height: 330px; }
  .info-box__desktop-content {
    display: inline; }
  .offer-box {
    padding: 32px 32px 47px 32px; } }

.call-modal {
  display: none;
  width: 320px;
  height: 100vh;
  box-shadow: -20px 0 50px -20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 10; }

.modal-wrapper {
  z-index: 10; }
  .modal-wrapper .button {
    margin: 24px 0 40px 16px; }
  .modal-wrapper .text {
    position: relative;
    font-family: TTLakes-Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    padding-left: 16px;
    padding-bottom: 8px; }
    .modal-wrapper .text::before {
      content: '';
      position: absolute;
      left: -2px;
      top: -7px;
      border: 4px solid #41f6d7;
      height: 40px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px; }

.call-modal_active {
  display: flex;
  position: fixed;
  right: 0;
  top: 0; }

.call-modal_overlay {
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8); }

.chat-modal_overlay {
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8); }

.form {
  height: auto;
  padding: 16px; }

.form__phone {
  font-family: 'TTLakes-Regular';
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 12px 0 12px 16px;
  color: #1b1c21; }

.form__agree {
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }
  .form__agree span {
    color: #ff3e79;
    cursor: pointer; }

.form__btn {
  margin-left: 170px;
  height: 32px;
  width: 119px;
  text-align: start;
  background-color: #ff3e79;
  border: none;
  border-radius: 16px;
  right: 16px;
  bottom: 16px;
  transition: transform 0.2s;
  cursor: pointer; }
  .form__btn:hover {
    transform: scale(1.2); }

.form__btn-text {
  font-family: 'TTLakes-Bold';
  text-transform: uppercase;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff; }
  .form__btn-text::after {
    content: url(./static/dropdownone.svg);
    padding-left: 10px; }

.chat-modal {
  display: none;
  width: 320px;
  height: 100vh;
  box-shadow: -20px 0 50px -20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 5; }

.chat-modal_active {
  display: flex;
  position: fixed;
  right: 0;
  top: 0; }

.form__name {
  font-family: 'TTLakes-Regular';
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 12px 0 12px 16px;
  color: #1b1c21;
  margin-bottom: 16px; }

.form__email {
  font-family: 'TTLakes-Regular';
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 12px 0 12px 16px;
  color: #1b1c21;
  margin-top: 16px;
  margin-bottom: 16px; }

.form__area {
  font-family: 'TTLakes-Regular';
  width: 100%;
  height: 118px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 12px 0 12px 16px;
  color: #1b1c21; }

@media (min-width: 768px) {
  .call-modal {
    width: 350px; }
  .chat-modal {
    width: 350px; } }

@media (min-width: 1440px) {
  .call-modal {
    width: 440px;
    box-shadow: none;
    box-shadow: -10px 0 50px -20px rgba(0, 0, 0, 0.5); }
  .chat-modal {
    width: 440px;
    box-shadow: none;
    box-shadow: -10px 0 50px -20px rgba(0, 0, 0, 0.5); }
  .modal-wrapper {
    padding-top: 50px;
    position: relative; }
  .form__btn {
    margin-left: 260px; }
  .modal-wrapper .button {
    display: block;
    left: -90px;
    top: 19px;
    position: absolute;
    z-index: 10; } }

.sidebar {
  display: none; }

.sidebar_overlay {
  position: fixed;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8); }

.sidebar_active {
  display: flex;
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 320px;
  transform: scalex(1);
  transition: 0.5s; }

.aside {
  display: flex;
  z-index: 4;
  flex-direction: column;
  background-color: #fff;
  width: 320px;
  height: 100vh;
  box-shadow: 20px 0 50px -20px rgba(0, 0, 0, 0.5); }

.aside__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }

.aside__header-left {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 16px; }

.aside__header-right {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 16px; }

.logo {
  vertical-align: middle;
  padding-left: 16.73px; }

.aside__main {
  margin-top: 30px; }

.aside__main-nav--list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 24px;
  white-space: nowrap; }

.main-nav--button {
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer; }

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute; }

ul.aside__main-nav--list li {
  padding-top: 16px;
  padding-bottom: 16px; }

label {
  position: relative; }

#remont:checked ~ .aside__main-nav--list li label[for='remont']::before,
#uslugi:checked ~ .aside__main-nav--list li label[for='uslugi']::before,
#forclients:checked ~ .aside__main-nav--list li label[for='forclients']::before,
#forsalers:checked ~ .aside__main-nav--list li label[for='forsalers']::before,
#forpartner:checked ~ .aside__main-nav--list li label[for='forpartner']::before,
#formakers:checked ~ .aside__main-nav--list li label[for='formakers']::before,
#centers:checked ~ .aside__main-nav--list li label[for='centers']::before,
#contact:checked ~ .aside__main-nav--list li label[for='contact']::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -26px;
  border: 4px solid #41f6d7;
  height: 32px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

#remont:checked ~ .aside__main-nav--list li label[for='remont'],
#uslugi:checked ~ .aside__main-nav--list li label[for='uslugi'],
#forclients:checked ~ .aside__main-nav--list li label[for='forclients'],
#forsalers:checked ~ .aside__main-nav--list li label[for='forsalers'],
#forpartner:checked ~ .aside__main-nav--list li label[for='forpartner'],
#formakers:checked ~ .aside__main-nav--list li label[for='formakers'],
#centers:checked ~ .aside__main-nav--list li label[for='centers'],
#contact:checked ~ .aside__main-nav--list li label[for='contact'] {
  color: #7e7e82; }

.aside__footer {
  margin-top: auto;
  padding-left: 24px; }

.aside__footer-buttons {
  display: flex;
  margin: 0 0 16px -8px; }

.aside__footer-personal {
  margin-bottom: 12px; }

.personal-mail {
  color: #1b1c21;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.personal-tell {
  color: #1b1c21;
  text-decoration: none;
  font-family: 'TTLakes-Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px; }

.aside__footer-lang {
  margin: 40px auto 32px 0; }

.aside__footer-lang-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none; }

.button-lang {
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  padding: 0 7px 0 0;
  cursor: pointer; }

.radio-lang {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute; }

#ru:checked ~ .aside__footer-lang-list li label[for='ru'],
#en:checked ~ .aside__footer-lang-list li label[for='en'],
#ch:checked ~ .aside__footer-lang-list li label[for='ch'] {
  color: #7e7e82; }

@media (min-width: 1440px) {
  .aside {
    box-shadow: none; }
  .aside__header {
    padding-top: 18px; }
  .exit-button {
    display: none; }
  .logo {
    padding-left: 16px !important;
    scale: 1.2; }
  .sidebar {
    display: block;
    position: static;
    background-color: #fff;
    width: 320px;
    max-width: 360px;
    height: 100%;
    z-index: 1;
    grid-area: span 6; }
  body {
    display: grid;
    grid-template-columns: 320px auto;
    grid-row: 1; } }

.block__header {
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  margin-bottom: 16px;
  box-shadow: 0 -1px #d9fff5; }

.block__header--title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 16px; }

.block__main-container {
  height: 130px; }

.block__main-swaper-wrapper {
  min-width: 0;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px; }

.swiper {
  min-width: 0;
  padding-right: 32px;
  display: flex;
  justify-content: flex-start; }
  .swiper::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 72px;
    background-image: linear-gradient(to right, transparent, #f8f8f8);
    right: 0;
    z-index: 1; }

.brand {
  display: flex;
  flex-shrink: 0;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px; }

.swiper-pagination-bullet {
  margin-right: 6px !important;
  margin-left: 6px !important;
  width: 12px;
  height: 12px;
  background-color: #ddd;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
  opacity: 1; }

.block__main-more {
  display: none;
  margin-top: 24px;
  margin-left: 32px; }

.read-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  transition: transform 0.2s; }
  .read-more:hover {
    transform: scale(1.2); }

.read-more-text {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }

.arrow::before {
  content: url(./static/icon-readmore.svg);
  position: absolute;
  text-align: center;
  width: 7.41px;
  height: 10.29px;
  left: -25px; }

.arrow-reversed::before {
  content: url(./static/icon-readmore.svg);
  position: absolute;
  text-align: center;
  width: 7.41px;
  height: 10.29px;
  left: -24px;
  top: 12px;
  transform: rotate(180deg); }

.hidden {
  display: none !important; }

.tech-box__main-container {
  height: 218px; }

.tech-box__main-swaper-wrapper {
  height: 210px;
  justify-content: flex-start;
  padding-left: 16px; }

.tech-box__header {
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  margin-bottom: 16px;
  box-shadow: 0 -1px #d9fff5; }

.tech-box__header--title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 16px; }

.tech {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  height: 160px !important;
  width: 240px;
  justify-content: space-between; }

.tech--text {
  padding: 16px 0 0 16px; }

.tech--button {
  position: relative;
  background-color: transparent;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  cursor: pointer;
  margin: 104px 16px 16px 0; }
  .tech--button:hover {
    transform: scale(1.2); }
  .tech--button::before {
    content: url(./static/dropdown.svg);
    padding-left: 2px; }

.tech-box__main-more {
  display: none;
  margin-top: 24px;
  margin-left: 32px; }

.prices-box__main-container {
  height: 260px; }

.prices-box__main-swaper-wrapper {
  height: 250px;
  justify-content: flex-start;
  padding-left: 16px; }

.prices-box__header {
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  margin-bottom: 16px;
  box-shadow: 0 -1px #d9fff5; }

.prices-box__header--title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 16px; }

.prices {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px; }

.prices-info--text {
  color: #7e7e82;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 0 4px 16px; }

.prices--text {
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding: 0 0 0 16px; }

.prices--button {
  position: absolute;
  height: 32px;
  width: 119px;
  text-align: start;
  background-color: #ff3e79;
  border: none;
  border-radius: 16px;
  right: 16px;
  bottom: 16px;
  transition: transform 0.2s;
  cursor: pointer; }
  .prices--button:hover {
    transform: scale(1.2); }

.prices--button-text {
  font-family: 'TTLakes-Bold';
  text-transform: uppercase;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff; }
  .prices--button-text::after {
    content: url(./static/dropdownone.svg);
    padding-left: 17px; }

@media (min-width: 768px) {
  .block__header {
    margin: 0; }
  .block__header--title {
    padding-left: 24px; }
  .block__main-more {
    display: flex; }
  .block__main-swaper-wrapper {
    padding: 0;
    margin: 0;
    height: auto; }
  .swiper {
    padding: 0;
    display: block;
    overflow: visible; }
  .swiper::after {
    display: none; }
  .swiper-pagination {
    display: none; }
  .block__main-container {
    padding: 24px;
    height: auto; }
  .block__main-swaper-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: auto;
    gap: 24px;
    justify-content: space-between; }
  .brand {
    width: 224px; }
  .tech {
    width: 224px; }
  .tech-box__header {
    margin: 0; }
  .tech-box__header--title {
    padding-left: 24px; }
  .tech-box__main-container {
    padding: 24px;
    height: auto; }
  .tech-box__main-swaper-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: auto;
    gap: 24px;
    padding: 0;
    height: auto;
    justify-content: space-between; }
  .tech-box__main-more {
    display: block; }
  .prices--text {
    padding: 0; }
  .prices {
    padding: 16px;
    width: auto;
    height: 64px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #fff;
    border-radius: 0; }
  .prices:nth-child(1n) {
    box-shadow: inset 0px 28px 0px -27px #eaeaea; }
  .prices:first-child {
    box-shadow: none; }
  .prices--text:nth-child(2) {
    width: 320px; }
  .prices--button {
    position: static; }
  .prices-box__header--title {
    padding-left: 24px; }
  .prices-info--text {
    display: none; }
  .prices-box__header {
    margin: 0; }
  .prices-box__main-container {
    padding: 24px;
    padding-top: 63px;
    height: auto; }
  .prices-box__main-swaper-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
    width: auto; } }

@media (min-width: 1120px) {
  .block__main-swaper {
    display: block;
    height: auto; }
  .block__main-container {
    padding-left: 32px;
    padding-right: 32px; }
  .block__main-swaper-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 32px; }
  .brand {
    width: 240px; }
  .block__header--title {
    padding-left: 32px; }
  .tech-box__header--title {
    padding-left: 32px; }
  .prices-box__header--title {
    padding-left: 32px; }
  .tech-box__main-swaper-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; }
  .tech {
    width: 240px; }
  .prices-box__main-container {
    padding: 32px;
    padding-top: 63px; }
  .prices {
    padding-left: 24px;
    padding-right: 24px; } }


/*# sourceMappingURL=style.css.map*/